.topCollections {
  padding: 20px;
  background-color: #ffffff;
  color:black;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Căn đều các sản phẩm */
  gap: 20px; /* Khoảng cách giữa các sản phẩm */
}

.productCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Thêm bóng cho sản phẩm */
  transition: transform 0.3s; /* Hiệu ứng khi hover */
}

.productCard:hover {
  transform: translateY(-5px); /* Nâng sản phẩm lên khi hover */
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.buyButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #28a745;
  color: rgb(5, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.buyButton:hover {
  background-color: #218838;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Căn giữa các nút phân trang */
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.activePage {
  background-color: #007bff;
  color: rgb(7, 7, 7);
}
/* Responsive điều chỉnh cho thiết bị nhỏ */
@media (max-width: 768px) {
  .collectionItem {
    flex: 0 1 calc(50% - 20px); /* 2 item mỗi hàng trên màn hình nhỏ */
  }
}

@media (max-width: 480px) {
  .collectionItem {
    flex: 0 1 100%; /* 1 item mỗi hàng trên màn hình rất nhỏ */
  }
}
